@import "/src/styles/core.scss";

.chessboardGrid{
    width: 800px;
    height: 800px;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

.tile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.dark{
    background-color: rgb(230, 106, 61);
}

.light{
    background-color: rgb(250, 213, 199);
}