@import "/src/styles/core.scss";

.chessboardGrid{
    width: 812px;
    height: 812px;
    place-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(55, 9, 74);
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    border-radius: 12px;
}